   * {
       padding: 0;
       margin: 0;
   }

   html,
   body {
       background-color: #303030;
   }

   p,
   h2,
   h1,
   a {
       font-family: Arial, Helvetica, sans-serif;
       color: #E3E3E3;

   }

   .centerPicture {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }

   p {
       font-size: 20px;
       padding: 10px;
       margin: 0 10%;
   }
   
   .about{
       background-color:#4C78A4;
   }

   .bottomSection{
       background-color: #303030;
   }

   .contactSection{
       background-color:#4C78A4;
   }

   h2 {
       text-align: center;
       background-color: #181818;
       font-size: 40px;
       padding: 20px 0;
   }

   h1 {
       background-color: #212f5c;
       font-size: 30px;
       position: fixed;
   }

   .portrait {
    height: 342px;
    width: 250px;
   }
   .menuIcon{
    height: 24px;
    width: 36px;
   }

   a:hover {
       background-color: #4C78A4;
   }

   .dropdown {
       display: none
   }

   .navbar-tags:hover>.dropdown {
       display: block;
       color: #4C78A4;
       text-decoration: none;
   }

   .navbar-list a {
       color: #E3E3E3;
       text-decoration: none;
   }

   .navbar-tags {
       margin: 10px;
   }

   .navbar-tags,
   .dropdown {
       padding: 0;
       list-style-type: none;
   }